<h1> Panel de control </h1>

<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>

<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h3> Productos por categoría </h3>
			<%= pie_chart @categories %>
		</div>
	</div>

	<div class="col-md-6">
		<div class="well">
			<h3> Productos creados por día </h3>
			<%= line_chart @products_by_day %>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h3> Productos más vendidos </h3>
			<%= column_chart @products_by_order %>
		</div>
	</div>
</div>

